body {
    font-family: Georgia;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/472/798/desktop-wallpaper-jabami-yumeko-kakegurui-zerochan-anime-board-1770x2345-for-your-mobile-tablet-kakegurui-yumeko-aesthetic.jpg");
    background-size: cover;
    background-position: center;
}    
p{
    font-size: 1.0rem;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: red;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: red;
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
 footer{
    color: white;
}
