body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF0DD;
}

header {
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    background-image: url("https://64.media.tumblr.com/ab82a744c515d38d0fc550c0723b5280/5ee32fa1f64395e7-c7/s400x600/e5a2fdd49cf599e4c6b97393b143370cf9362f26.jpg");
    background-position: 15%;
    background-size: auto;
}
header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #F778A1;
    font-size: 20px;
}

h3{
    color: #F778A1;
    font-size: 20px;
}
h4{
    color: #000000;
    font-size: 20px;
}
h5{
    color: #000000;
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    background: #F778A1;
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
